.themePanel {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
}

.themePicker {
  display: flex;
}

.themeColors {
  position: absolute;
  display: flex;
  width: 135px !important;
  height: 0 !important;
  margin-left: -2px !important;
  margin-top: 0px !important;
  top: 34px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
  opacity: 0;
  overflow: hidden;
}

.mainThemeColor {
  position: relative;
}
.mainThemeColor,
.extendedColor {
  height: 30px;
  width: 30px;
  margin: 2px;
}

.extendedColor {
  position: relative;
  margin-top: 2px;
}

.colors {
}

.descriptions {
  text-align: left;
}
.descriptions > div {
  height: 30px;
  display: grid;
  align-items: center;
  margin-left: 5px;
}

.extendedColor:first-of-type {
  margin-top: 0;
}
